<div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">KinoCavern</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/movielist">Films</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Cartoons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">TV-series</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Cartoon-series</a>
            </li>
          </ul>
          <a class="nav-link" routerLink="/admin/addMovie" *appUserRole="'ROLE_ADMIN'">
            Add-movie</a>
            <a class="nav-link" routerLink="/notifications" *appUserLogged (click)="notificationsViewed()">
              <div *ngIf="!isNewNotifications">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="white" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                  <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                </svg>
              </div>
              <div *ngIf="isNewNotifications">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                </svg>
              </div>
            </a>            
            <a class="nav-link" routerLink="/chat" *appUserLogged>
             Chats</a>    
          <a class="nav-link" routerLink="{{getUserProfile()}}" *appUserLogged>
            My-Profile</a>  
          <a class="nav-link" routerLink="/signin" 
            *ngIf="!tokenStorage.isTokenExist(); else loggedOut">Login</a>
          <ng-template #loggedOut>
            <a class="nav-link" href="/" (click)="tokenStorage.signOut()">Logout</a>
          </ng-template>
        </nav>
      </div>
</div>