<div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">KinoCavern</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/movielist">Movie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <a class="nav-link" routerLink="/admin/addMovie" *appUserRole="'ROLE_ADMIN'">
            Add-movie</a>
          <a class="nav-link" routerLink="{{getUserProfile()}}" *appUser>
            My-Profile</a>  
          <a class="nav-link" routerLink="/signin" 
            *ngIf="!tokenStorageService.isTokenExist(); else loggedOut">Login</a>
          <ng-template #loggedOut>
            <a class="nav-link" href="/" (click)="tokenStorageService.signOut()">Logout</a>
          </ng-template>
        </nav>
      </div>
</div>