<div class="container">
    <div id="register">
      <div class=row>
      <div class="col-8">
        <div class="card card-container align-self-center">
          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
            <h3 class="text-center text-info">Register new movie</h3>
            <div class="form-group">              
              <label class="btn btn-default">Upload image:</label>              
                <input type="file" 
                name="file"
                (change)="selectFile($event)"
                accept=".jpg,.png"
                required/>
            </div>
            <div class="form-group">
              <label for="movie.title">Title</label>
              <input
                type="text"
                class="form-control"
                name="title"
                [(ngModel)]="movie.title"
                required
                maxlength="60"
                #title="ngModel"
              />
              <div class="form-group">
                <label for="movie.description">Description</label>
                <br>
                <textarea name="description" [(ngModel)]="movie.description"
                #description="ngModel" required rows = "5" cols = "60">
                  description...
                </textarea>
              </div>
              <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                <div *ngIf="title.errors.required">Movie title is required</div>
                <div *ngIf="title.errors.maxlength">
                  Title must be no longer than 60 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="year">Year of release</label>
              <input
                type="number"
                class="form-control"
                name="year"
                [(ngModel)]="movie.year"
                required
                #year="ngModel"
              />
              <div class="alert-danger" *ngIf="f.submitted && year.invalid">
                <div *ngIf="year.errors.required">Year of movie is required</div>
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" name="category" [(ngModel)]="selectedCategoryId" required>
                <option *ngFor="let category of categories" 
                      value="{{category.id}}">
                  {{category.name}}
                </option>
              </select>           
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block">Make new movie</button>
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isPostFailed">
              Posting of movie failed!<br/>{{ errorMessage }}
            </div>
          </form>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
            New movie successfuly posted!
          </div>
        </div>
      </div>
      <div class="col-2">
        <app-attach-genres></app-attach-genres>
      </div>
      <div class="col-2">
        <app-attach-countries></app-attach-countries>
      </div>
    </div>
    </div>
  </div>