<div class="container" (click)="onButtonRateClick($event)">
    Rate:
    <div class="col-12">
        <button value=1 class="btn btn-scale btn-scale-desc-1">1</button>
        <button value=2 class="btn btn-scale btn-scale-desc-2">2</button>
        <button value=3 class="btn btn-scale btn-scale-desc-3">3</button>
        <button value=4 class="btn btn-scale btn-scale-desc-4">4</button>
        <button value=5 class="btn btn-scale btn-scale-desc-5">5</button>
    </div>
    <div class="col-12">
        <button value=6 class="btn btn-scale btn-scale-desc-6">6</button>
        <button value=7 class="btn btn-scale btn-scale-desc-7">7</button>
        <button value=8 class="btn btn-scale btn-scale-desc-8">8</button>
        <button value=9 class="btn btn-scale btn-scale-desc-9">9</button>
        <button value=10 class="btn btn-scale btn-scale-desc-10">10</button>    
    </div>
</div>
